<?xml version='1.0'?>
<launch>
	<node pkg="breadcrumb" type="breadcrumb_node" name="breadcrumb" clear_params="true" output="screen">
		<param name="search_heuristic" value="0" type="int" />
		<param name="allow_diagonals" value="false" type="bool" />
		<param name="obstacle_threshold" value="50" type="int" />
		<param name="calc_sparse_path" value="true" type="bool"/>
		<param name="sparse_max" value="4" type="int"/>
		<param name="any_angle" value="false" type="bool"/>
		<param name="obstacle_buffer" value="2" type="int"/>

		<remap from="~grid" to="/projected_map" />
	</node>
</launch>
